[submodule "third_party/vk-bootstrap"]
	path = third_party/vk-bootstrap
	url = git@github.com:charles-lunarg/vk-bootstrap.git
[submodule "third_party/vma"]
	path = third_party/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:g-truc/glm.git
